/* Need to discuss this with the team */
.axis path,
.axis line {
  stroke: none;
  /* Changes the color of the axis lines */
}

/* Stroke styling for legend shapes */
.legend--icon circle,
.legend--icon rect,
.legend--icon path {
  stroke-width: 2.5;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
}

/* Stroke styling for line end markers */
.line-end,
g.line-end path {
  stroke-width: 2.5;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 10;
}

#legend {
  margin-top: 10px;
  margin-bottom: 10px;
}


.legend--icon--rect {
  height: 12px;
  width: 12px;
  align-self: center;
  flex-shrink: 0;
  forced-color-adjust: none;
}

.legend--icon--circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: flex-start;
  flex-shrink: 0;
  vertical-align: top !important;
}

.legend--itemCI {
  display: flex;
  padding-right: 40px;
  padding-bottom: 12px;
}

@media (forced-colors: active) {
  .shaded {
    opacity: 0.5
  }
}