 .dataLabels {
   font-weight: 600;
   font-size: 14px;
   /* text-shadow: 3px 3px 7px #ffffff,
             -3px -3px 7px #ffffff; */
 }

 .legendLabel {
   font-size: 14px;
 }

 .legend--item{
  padding-right: 12px !important;
 }

 .axis--label {
   fill: #707071;
   font-weight: 600
 }

 .annotation_arrow_left {
   stroke: #F66068
 }

 .zero-line {
   stroke: #a0a0a0;
   stroke-width: 2px;
 }

.groupLabels {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

 .title {
   font-weight: 600;
   fill: #414042;
 }

 #source {
   font-weight: 700 !important;
   color: #323132 !important;
 }

 .netChange text{
  /* fill: #003C57; */
  text-anchor: middle;
 }

 /* .netChange rect{
  fill: #c6d6e5;
 } */

 .netChange line{
  stroke-width: 3px;
 }