 .legendLabel {
   font-size: 14px;
 }

 .legend--item{
  padding-right: 12px !important;
 }

 .annotation_arrow_left {
   stroke: #F66068
 }

.groupLabels {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

 .netChange text{
  text-anchor: middle;
 }

 .netChange line{
  stroke-width: 2px;
 }